.page.theme_light {
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-color: #353430;
  --main-text-color: #353430;
  --supp-bg: #ff8dcb;
  --button-menu: #ff0070;
  --font-family: "IBM Plex Mono", "monospace";
  --main-fs: 18px;
  --regular-fw: 400;
  --bold-fw: 700;
  --border-auto: 0px;
  --border-neon: 0px;
  --border-day: 1px;
  --fs-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --fs-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-color: #353430;
    --main-text-color: #353430;
    --supp-bg: #ff8dcb;
    --button-menu: #ff0070;
    --font-family: "IBM Plex Mono", "monospace";
    --main-fs: 18px;
    --regular-fw: 400;
    --bold-fw: 700;
    --border-auto: 0px;
    --border-neon: 0px;
    --border-day: 1px;
    --fs-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --fs-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --rec-display: none;
  }
}